[user]
	name = Jeff Wade

[includeIf "gitdir:github/"]
  path = ~/.gitconfig-hub
[includeIf "gitdir:personal/"]
  path = ~/.gitconfig-lab

[core]
	editor = nvim
[mergetool "vimdiff"]
	path = nvim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff

[init]
	defaultBranch = main
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
