[user]
	name = Jeff Wade
  email = jeffwade@users.noreply.github.com

[core]
	editor = nvim
[mergetool "vimdiff"]
	path = nvim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff

[init]
	defaultBranch = main
[credential]
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
